# exclude all files and just include the '.EXAMPLE' files
env_files/*
!env_files/*.EXAMPLE

.env
!env.EXAMPLE

# volumes
volumes/catalog-frontend/*
!volumes/catalog-frontend/*.EXAMPLE
volumes/geoserver/geoserverdata
volumes/mysql/data

volumes/nginx/nginx.*.backup.*
volumes/nginx/nginx.*.test
volumes/nginx/log
volumes/nginx/.htpasswd
volumes/nginx/include/dynamic/location/*
!volumes/nginx/include/dynamic/location/*.EXAMPLE

volumes/pgadmin4
volumes/postgresql
volumes/rabbitmq

# other folders and files
.vscode/*
.backup
