upstream portal {
    server dgi_catalog_frontend:8000;
}

upstream api {
    server dgi_catalog_backend:5001;
    #server localhost:5001;
}

upstream inpestac {
    server dgi_catalog_inpe_stac:5000;
}

upstream staccompose {
    server dgi_catalog_stac_compose:5002;
}

upstream dgi_catalog_portainer {
    server dgi_catalog_portainer:9000;
}

upstream geoserver {
    server dgi_catalog_geoserver:8080;
}

server {
    listen         $NGINX_PORT default_server;
    listen         [::]:$NGINX_PORT default_server;

    client_max_body_size 50M;
    root /var/www/html;
    index index.php index.html index.htm;
    server_name _;
    charset  utf-8;

    location /geoserver {
        proxy_pass http://geoserver;
        proxy_set_header Host $http_host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }

    location /portainer {
        proxy_pass http://dgi_catalog_portainer;
        proxy_set_header Host $http_host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }

    location /stac-compose {
        proxy_pass http://staccompose;
        proxy_set_header Host $http_host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }

    location /inpe-stac/ {
        proxy_pass http://inpestac/;
        proxy_set_header Host $http_host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }

    location /api/ {
        proxy_pass http://api;
        proxy_set_header Host $http_host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }

    location /catalogo {
        proxy_pass http://portal;
        proxy_redirect off;
        proxy_set_header Host $http_host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}
