FLASK_ENV=development
ENVIRONMENT=ProductionConfig
SERVER_HOST=0.0.0.0
SERVER_PORT=5001
MYSQL_DB_USER=root
MYSQL_DB_PASSWORD=password
MYSQL_DB_HOST=inpe_cdsr_db
MYSQL_DB_PORT=3306
MYSQL_DB_DATABASE=catalog
JWT_SECRET=MY-SECRET-HERE
JWT_ALGORITHM=HS256
URL_DOWNLOAD=http://localhost:8089/datastore
URL_CATALOG_RESET_PASSWORD=http://localhost:8089/catalogo/auth/reset-password
EMAIL_SENDER_FROM=example@mail.com
EMAIL_SENDER_FROM_PASSWORD=password
EMAIL_SMTP_HOST=smtp.example.mail.com
EMAIL_SMTP_PORT=587
