FLASK_ENV=development
ENVIRONMENT=ProductionConfig
SERVER_HOST=0.0.0.0
SERVER_PORT=5001
MYSQL_DB_USER=root
MYSQL_DB_PASSWORD=password
MYSQL_DB_HOST=inpe_cdsr_db
MYSQL_DB_DATABASE=catalogo
JWT_SECRET=MY-SECRET-HERE
JWT_ALGORITHM=HS256
DOWNLOAD_URL=http://localhost:8089/datastore
