URL_GEOSERVER=http://localhost:8089/geoserver
URL_VIA_CEP=http://viacep.com.br/ws
URL_STAC_COMPOSE=http://localhost:8089/stac-compose
URL_API=http://localhost:8089/api
GRIDS=States:grid_ibge_states:states; CBERS4-MUX:grid_cbers4_mux:grids; CBERS4A-MUX:grid_cbers4a_mux:grids; CBERS4A-WFI:grid_cbers4a_wfi:grids; LandSat-8:grid_landsat_tm_amsul:grids; Sentinel-2:grid_sentinel_mgrs:grids
