BASE_URI=http://localhost:8089/inpe-stac/
FLASK_APP=app.py
FLASK_ENV=development
DB_HOST=HOST:PORT
DB_USER=USER
DB_PASS=PASSWORD
DB_NAME=DATABASE
TIF_ROOT=http://localhost:8089/api/download
PNG_ROOT=http://localhost:8089/datastore
API_VERSION=0.7
PYTHONUNBUFFERED=1
