# Publisher Dash environment variables
PD_DEBUG_MODE=False
PD_LOGGING_LEVEL=INFO
PD_PUBLISHER_HOST=http://inpe_cdsr_publisher:5000

# PostgreSQL environment variables
PGUSER=postgres
PGPASSWORD=postgres
PGHOST=inpe_cdsr_postgis
PGPORT=5432
PGDATABASE=cdsr_catalog
